.footer {
  &__background {
    padding: 60px 0;
    background-color: var(--background-color);
    display: flex;
    align-content: center;
  }
  &__container {
    display: flex;
    align-content: center;
    gap: 60px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet {
      gap: 144px;
    }
    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 70px;
    }
  }
  &__logo {
    font-family: "raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: var(--active-color);

    @include desktop {
      font-size: 26px;
      line-height: 1.19;
    }

    &--part {
      color: var(--brand-color2);
    }
  }
  &__adressess {
    line-height: 1.71;
    margin-top: 20px;
    @include tablet {
    }
    @include desktop {
    }
  }
  &__adressess > li:not(:last-child) {
    margin-bottom: 9px;
  }
  &__address {
    color: rgba(255, 255, 255, 0.6);
  }
  &__place {
    color: var(--brand-color2);
  }
  &__icon {
    margin-right: 10px;
    fill: var (--icon-color);

    &--link {
      --color6: rgba(255, 255, 255, 0.1);
      --color5: var(--brand-color2);

      &:hover,
      &:focus,
      &:active {
        --color6: var(--active-color);
        transition-duration: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &__wrapper {
    line-height: 1.71;
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color2);
    margin-bottom: 20px;
    margin-top: 12px;
  }
  &__icons {
    display: flex;
    justify-content: center;
  }
}
