.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--brand-color2);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;

  transform: opacity(1);
  transition: transform 250ms ease-in-out;

  &.is-open {
    display: flex;
    transform: opacity(0);
  }

  &__close {
    font-size: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 19.33px;
    transition: color 250ms ease-in-out;

    &:hover,
    &:focus {
      fill: var(--active-color);
    }
  }

  &__nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: var(--small-space);
    color: var(--brand-color3);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__nav--link,
  &__contacts-link {
    color: var(--brand-color3);
    text-decoration: none;
  }

  &--active {
    color: var(--active-color);
  }

  &__contacts {
    &--link {
      display: block;
      font-weight: 500;
      letter-spacing: var(--small-space);
      padding-bottom: 32px;
    }

    &--tel {
      color: var(--active-color);
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: var(--small-space);
    }
    &--email {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: var(--small-space);
      color: var(--brand-color1);
    }
  }
  &__social-media {
    display: flex;

    &--link {
      color: var(--active-color);
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: var(--small-space);
    }
    &--padding-right {
      padding-right: 10px;
    }

    &--padding-left {
      padding-left: 10px;
    }

    &--border {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
