:root {
  --active-color: #2196f3;
  --brand-color1: #757575;
  --brand-color2: #fff;
  --brand-color3: #212121;
  --background-color: #2f303a;
  --icon-color: #afb1b8;
  --logo-color: #000;
  --product-label-color: rgba(33, 150, 243, 0.9);
  --brand-font: "Roboto", sans-serif;
  --space-gap: 30px;
  --small-space: 0.02em;
}
